h2 {
    margin: 0.5em 0
}

.container {
    margin: 1em 0;
}

.registers {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.register {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.register input[data-bits="8"] {
    width: 3ch;
}