body {
    font-family: monospace;
}

h2 {
    margin: 0.5em 0
}

.container {
    margin: 1em 0;
}

.registers {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.register {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.register input[maxlength="2"] {
    width: 3ch;
}

.register input[maxlength="4"] {
    width: 5ch;
}

.flags {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.memory {
    margin-top: 1em;
}

.memory-line {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.memory-cell {
    width: 3ch;
    border: 0;
}

.highlight {
    background-color: yellow;
}

.disassembly {
    max-height: 20vh;
    overflow-y: scroll;
}